/* google fonts */
@font-face {
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    src: local('Leckerli One'), local('LeckerliOne-Regular'), url(./googlefonts/leckerli.woff) format('woff');
}

.brand {
    font-family: 'Leckerli One', cursive;
    width:180px;
    height:18px;         
}

/* 解决fancybox图片打开后背景移动问题 */
body { overflow-y:scroll;}
div.navbar-fixed-top{position: relative;}


#main {
    margin-top: 40px;
}


/* used in search and profile */
.thumbnails {
    float: left;
    width: 100%;
}

.thumbnails li {
    background-image: url("../img/portfolio-bg.png");
    float: left;
    height: 147px;
    margin-bottom: 25px;
    margin-right: 8px;
    padding-left: 4px;
    padding-top: 4px;
    width: 120px;
}


