#profile-info .span2, #profile-info .span4, #profile-info .span10 {
	margin:0;
	border-collapse:collapse;
}

#profile-info .span2 {
	width: 20%;
}

#profile-info .span4{
	width: 40%;
}

#profile-info .span10{
	width: 100%;
}
