.personal-info {
	color: #333;
	margin-left: -30px;
}

#profile-table .span2, #profile-table .span4, #profile-table .span10 {
	margin:0;
	border-left:1px solid green;
	border-collapse:collapse;

}

#profile-table .span2 {
	width: 20%;
}

#profile-table .span4{
	width: 40%;
}

#profile-table .span10{
	width: 100%;
}
